
.displaycustomstyle legend {
    color:rgb(0,47,134);
}
.displaycustomstyle select{
    border:0px;
    color:rgb(0,47,134);
    font-weight:bold;
}
.displaycustomstyle input{
    border:0px;
    color:rgb(0,47,134);
    font-weight:bold;
}
.displaycustomstyle label{
    border:0px;
    color:rgb(0,47,134);
}
.arrowStyle {
    color:blue;
    font-weight:bold;
    font-size:1em
}
.displaycustomstyle .dateField {
    padding:5px;
    border:0px;
}