thead[data-test="datatable-head"] th{
    color:white !important;
    background:#0e84b5 !important;
    font-weight:bold

}
thead[data-test="table-foot"]{
    display:none;
}

tbody tr {
    pointer:cursor;
}
.btn-sml{
    padding:3px !important;
    display:inline;
    float:left
}
.checkbox{
    display:inline;
    float:left
}
.actiontable{
    margin:0px !important;
}
.actiontable td{
    width:30px !important;
}
.btnStyle{
    width:23%;
    font-weight:bold
}
.subscriptions   {
    width: 90%;
    height: 330px;
    margin-top: 15px;

}