fieldset {
    margin-left:0% !important;
    margin-right:0% !important;
    margin-top:1%;
    padding:0%;
    width:100%
}
fieldset legend {
    text-decoration: none;
    font-weight:bold;
}
fieldset div.col-12{
    background:white;
    padding:20px;
}
.togglebox {
    padding:15px;
    border-radius:8px;
    border:1px solid lightgray;
    box-shadow: 0 1px 1px #1d1d1d;
    background-color:#ffffff;
    height:45px;
    cursor:pointer;
}

.togglebox_content {
    background-color:#f1f1f1;
    border:1px solid lightgray;
    padding:8px;
    display:none
}

.togglebox_content table {
    width:100% !important;
}
.togglebox_content input {
    width:40px;
}

.togglebox_content code {
    color:#1d1d1d;

}
.togglebox_content thead td{
    width:12%;
}

.togglebox_content .labeltd{
    width:20%;
}

.togglebox_content thead code{
    font-size:9px;
}

.pages {
    display:none;
}
.container {
    background-color:#ffffff;
    width:1300px;
}
.ag-cell-label-container {
    /* Necessary to allow for text to grow vertically */
    height: 100%;
}

.ag-header-cell-label {
    /* Necessary to allow for text to grow vertically */
    height: 100%;
    padding: 0 !important;
}

.ag-header-cell-label .ag-header-cell-text {
    /* Force the width corresponding at how much width
    we need once the text is laid out vertically */
    width: 150px;
    /* Since we are rotating a span */
    display: inline-block;
    font-size:12px;
    overflow:paged-y-controls;
}




.row-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.row-flex button {
    margin:2%;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}